{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
<div class="col-md6 border rounded">

    <form action="" method=post>
        <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}
            {{ question }}
            <div style=font-size:20px; font-weight:bold; margin-left:150px;>
                {{ form.Gender.label }} {{ form.Gender }}
            </div>
        </fieldset>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}