{% extends "base.html" %}

{% block content %}
<h1>Вопрос {{ current_question_index }} из {{ total_questions }}</h1>
<div class="col-md6 border rounded">

    <form action="" method=post class="p-3 shadow-lg">
            <legend>{{ question.text }}</legend>
            {{ form.hidden_tag() }}
            {% if question.is_radio() %}
                {{ form.radioAnswers.label }} {{ form.radioAnswers(class_="list-unstyled") }}
            {% else %}
                {{ form.checkAnswers.label }} {{ form.checkAnswers(class_="list-unstyled") }}
            {% endif %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>


</div>
{% endblock %}